## Copy this file to config.mk and modify to get you personal build configuration

## Enable extended kalman filter
# ESTIMATOR = kalman

## Enable UWB sensors
# SENSORS = task

########## Q2 Flags ##############

## Enable manipulator control
# Q2_CFLAGS += -DENABLE_Q2_ARM

########## CF Flags ##############

# CF_CFLAGS += #TBA
